<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="ru.tpu.courses.lab4"
	>

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		android:maxSdkVersion="18" />

	<application>
		<activity android:name=".Lab4Activity" />
		<activity android:name=".add.AddStudentActivity" />

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="ru.tpu.courses.lab4.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/lab4_photo_path"
				/>
		</provider>
	</application>
</manifest>
